
#cover {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#mind-body {
  font-size: 4.1em;
  letter-spacing: 0.07em;
  color: #333333;
}

@media screen and (max-width: 600px) {
  #mind-body {
    font-size: 3em;
  }
}

#law {
  font-family: 'Shimes One';
  font-size: 5.5em;
  color: #333333;
  margin-left: 10px;
}

@media screen and (max-width: 600px) {
  #law {
    font-size: 4em;
  }
}

#mind-body-law{
  display: inline-flex;
  flex-direction: row;
  width: 590px;
  position: relative;
}

@media screen and (max-width: 600px) {
  #mind-body-law {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}

#mind-body br {
  display: none;
}

/* @media screen and (max-width: 600px) {
  #mind-body br {
    display: block;
  }
} */

#smudge {
  width: 280px;
  position: absolute;
  z-index: -1;
  left: 320px;
  transform: rotate(-10deg);
  bottom: -10px;
}

@media screen and (max-width: 600px) {
  #smudge {
    width: 180px;
    left: 220px;
  }
}

#rubber-shavings {
  width: 230px;
  position: absolute;
  left: 60vw;
  top: 15vh;
}

@media screen and (max-width: 600px) {
  #rubber-shavings {
    display: none;
  }
}

#pencil {
  width: 200px;
  position: absolute;
  transform: rotate(70deg);
  top: 10vh;
  left: 5vw;
}

@media screen and (max-width: 600px) {
  #pencil {
    width: 150px;
  }
}

#rubber {
  width: 160px;
  position: absolute;
  left: 80vw;
  top: 30vh;
}

@media screen and (max-width: 600px) {
  #rubber {
    display: none;
  }
}

#tagline {
  font-family: Avenir, 'Nunito Sans';
  color: rgba(47, 47, 47, 0.65);
  letter-spacing: 0.2em;
  font-size: 1.1em;
  text-align: center;
  margin-top: 80px;
}

#title-tagline {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  position: absolute;
  top: 35vh;
}

#down-arrow {
  margin-top: 50px;
  cursor:pointer;
}

#about-me-info {
  text-align: right;
}

#sand {
  margin-top: -100px;
  max-width: 100%;
}

#about-me-button {
  float: right;
}

#pebbles {
  max-height: 330px;
  display: block;
  margin: auto;
}

.info {
  font-size: 2em;
  color: rgba(47, 47, 47, 0.85);
}

@media screen and (max-width: 600px) {
  .info {
    text-align: left;
  }
}

.contact-info {
  text-align: right;
  margin-top: 50px;
  position: relative; /* For z-index to work & water img behind text */
}

#water {
  max-width: 100vw;
  margin-top: -300px;
  z-index: -1;
}

@media screen and (max-width: 600px) {
  #water {
    margin-top: -40px;
  }
}

#postit {
  max-width: 400px;
  display: block;
  margin: auto;
  margin-top: 50px;
}


@media screen and (max-width: 600px) {
  #postit {
    width: 320px;
  }
}

#postit-info {
  font-family: 'Reenie Beanie';
  position: absolute;
  font-size: 2.5em;
  color: rgba(47, 47, 47, 0.65);
  left: 150px;
  top: 70px;
  line-height: 1.2em;
  font-style: normal;
}

@media screen and (max-width: 600px) {
  #postit-info {
    font-size: 2em;
    left: 80px;
    top: 50px;
  }
}
