@import "main.css";

#cover {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#mind-body {
  font-size: 4.1em;
  letter-spacing: 0.07em;
  color: #333333;
}

#law {
  font-family: 'Shimes One';
  font-size: 5.5em;
  color: #333333;
  margin-left: 10px;
}

#mind-body-law{
  display: inline-flex;
  flex-direction: row;
  width: 590px;
  position: relative;
}

#smudge {
  width: 280px;
  position: absolute;
  z-index: -1;
  left: 320px;
  transform: rotate(-10deg);
  bottom: -10px;
}

#rubber-shavings {
  width: 230px;
  position: absolute;
  left: 60vw;
  top: 15vh;
}

#pencil {
  width: 200px;
  position: absolute;
  transform: rotate(70deg);
  top: 10vh;
  left: 5vw;
}

#rubber {
  width: 160px;
  position: absolute;
  left: 80vw;
  top: 30vh;
}

#tagline {
  font-family: Avenir, 'Nunito Sans';
  color: rgba(47, 47, 47, 0.65);
  letter-spacing: 0.2em;
  font-size: 1.1em;
  text-align: center;
  margin-top: 80px;
}

#title-tagline {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  position: absolute;
  top: 35vh;
}

#down-arrow {
  margin-top: 50px;
  cursor:pointer;
}

#about-me-info {
  text-align: right;
}

#sand {
  margin-top: -100px;
}

#about-me-button {
  float: right;
}

#pebbles {
  height: 330px;
  display: block;
  margin: auto;
}

.info {
  font-size: 2em;
  color: rgba(47, 47, 47, 0.85);
}

#contact-info {
  text-align: right;
  margin-top: 50px;
  /* For z-index to work & water img behind text */
  position: relative;
}

#water {
  width: 100vw;
  margin-top: -300px;
  z-index: -1;
}

#postit-info {
  font-family: 'Reenie Beanie';
  position: absolute;
  font-size: 3em;
  color: rgba(47, 47, 47, 0.65);
  left: 12vw;
  top: 80px;
}
