/* ########################################################################## */

                        /*  MAIN CSS FOR ALL PAGES  */

/* ########################################################################## */

/* --------------------------------------------------------------------------- */
                                /* GRID */
/* --------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  /* border: 1px solid red; */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.row {
  margin: 0px 70px;
}

/* -------------------------------------------------------------------------- */
                                /* FONTS */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: 'Nunito Sans';
  font-weight: 300;
  src: url('../fonts/NunitoSans-Light.ttf');
}
@font-face {
  font-family: 'Nunito Sans';
  font-weight: 700;
  src: url('../fonts/NunitoSans-Bold.ttf');
}

@font-face {
  font-family: 'Lustria';
  font-weight: 400;
  src: url('../fonts/Lustria-RegularCompact.ttf');
}

@font-face {
  font-family: 'Reenie Beanie';
  font-weight: 400;
  src: url('../fonts/ReenieBeanie-Regular.ttf');
}

@font-face {
  font-family: 'Shimes One';
  font-weight: 400;
  src: url('../fonts/ShimesOneCompact.ttf');
}

/* PRIMARY FONT SETTINGS*/
body {
  font-family: 'Lustria', serif;
  font-size: 1em;
  color: #2F2F2F;
  margin: 0;
}

h1 {
  font-size: 2.6em;
  color: rgba(47, 47, 47, 0.85)
}

p {
  line-height: 2em;
}

/* -------------------------------------------------------------------------- */
                        /* STOP HIGHLIGHTING TEXT */
/* -------------------------------------------------------------------------- */

.unselectable, img, .button {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

/* -------------------------------------------------------------------------- */
                                /* BUTTONS */
/* -------------------------------------------------------------------------- */

.button {
  border: solid 2px rgba(47, 47, 47, 0.2);
  color: rgba(47, 47, 47, 0.65);
  padding: 15px 20px;
  font-family: Avenir, 'Nunito Sans';
  font-size: 1em;
  letter-spacing: 0.1em;
  border-radius: 4px;
  margin-top: 30px;
  display: inline-block;
}

.button:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(47, 47, 47, 1);
  border: solid 2px rgba(47, 47, 47, 1);
}
