/* Website made by Seyhan Van Khan and Alizeh Khan */
/* github.com/seyhanvankhan */
/* July 2020 */

@import "main.css";

#plant {
  position: absolute;
  width: 430px;
  right: 0;
}

@media screen and (max-width: 600px) {
  #plant {
    display: none;
  }
}

.category h3 {
  font-family: Avenir, 'Nunito Sans';
  font-size: 0.9em;
  letter-spacing: 0.1em;
  color: rgba(47, 47, 47, 0.65);
}

.category li {
  font-family: Avenir, 'Nunito Sans';
  font-size: 0.9em;
  color: rgba(47, 47, 47, 1);
}

.category {
  padding: 10px 20px;
}

#postit {
  width: 350px;
  display: block;
  margin: auto;
  margin-top: 50px;
}

#postit-info {
  font-family: 'Reenie Beanie';
  position: absolute;
  font-size: 2.5em;
  color: rgba(47, 47, 47, 0.65);
  left: 80px;
  top: 80px;
}

.category p {
  font-family: Avenir, 'Nunito Sans';
  font-size: 0.9em;
  color: rgba(47, 47, 47, 1);
}
