@import "main.css";

#menuicon {
  margin-top: 30px;
}

#plant {
  position: absolute;
  width: 430px;
  right: 0;
}

.category h3 {
  font-family: Avenir, 'Nunito Sans';
  font-size: 0.9em;
  letter-spacing: 0.1em;
  color: rgba(47, 47, 47, 0.65);
}

.category li {
  font-family: Avenir, 'Nunito Sans';
  font-size: 0.9em;
  color: rgba(47, 47, 47, 1);
}

.category {
  padding: 10px 20px;
}

#postit-info {
  font-family: 'Reenie Beanie';
  position: absolute;
  font-size: 2.8em;
  color: rgba(47, 47, 47, 0.65);
  left: 4vw;
  top: 80px;
}

.category p {
  font-family: Avenir, 'Nunito Sans';
  font-size: 0.9em;
  color: rgba(47, 47, 47, 1);
}

#creator {
  font-size: 0.8em;
  text-align:center;
  margin-top: 80px;
  margin-bottom: 20px;
}

#creator a {
  color: #2f2f2f;
}
