.about-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 120px
}

#highlight {
  background-image: url("../images/about-me/highlight.png");
  background-size: cover;
}

@media(max-width: 900px) {
  .about-grid {
    display: flex;
    flex-direction: column-reverse;
  }
  #incense {
    display: none;
  }
  #title-about {
    margin-top: 0;
  }
}

#highlighter {
  max-width: 100%;
}
