.button {
  border: solid 2px #71717A;
  color: #71717A;
  padding: 12px 24px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  transition: all .1s ease-in;
}

.button:hover {
  cursor: pointer;
  color: white;
  background: #3F3F46;
  border: solid 2px #3F3F46;
}
