body .calendly-badge-widget .calendly-badge-content {
  padding: 12px 24px;
  border-radius: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
}

body .calendly-badge-widget .calendly-badge-content:hover {
  background: #333333 !important;
}

@media screen and (max-width: 600px) {
  body .calendly-badge-widget .calendly-badge-content {
    border-radius: 50%;
  }
  #calendly-button-text {
    display: none
  }
}
