#services-section {
  width: 60%;
}

#plant {
  position: absolute;
  top: 0;
  right: 0;
  width: 440px;
}

#pricing-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 80px
}

#pricing-description {
  line-height: 180%;
}

#services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  font-size: 14px;
  line-height: 150%;
}

.pricing-small {
  margin-top: 0;
}

#pricing-section h3{
  margin: 32px 0 8px 0;
}
