@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Open+Sans:wght@300;400;600;700&family=Reenie+Beanie&display=swap');
@import url(banner.css);
@import url(calendy.css);
@import url(button.css);
@import url(navbar.css);
@import url(container.css);
@import url(home-sections.css);
@import url(footer.css);
@import url(post-it.css);
@import url(about.css);
@import url(services.css);

@font-face {
  font-family: 'Shimes One';
  font-weight: 400;
  src: url('../../vendors/fonts/ShimesOne.ttf');
}

body {
  margin: 0;
  color: #3F3F46;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 64px;
  font-weight: normal;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: normal;
}

h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
}

a {
  color: #3F3F46;
}

.unselectable, img, .button, nav, .calendly-badge-content {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

img {
  pointer-events: none;
}

.text {
  font-family: 'Open Sans', sans-serif;
  line-height: 180%;
}
